.navbar{
	display: flex;
	background-color: #B22420;
	width: 100%;
	height: 90rpx;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.nav-item{
	color: white;
	font-size: 36rpx;
	width: 20%;
}
.current span{
	font-weight: bold;
	border-bottom: 4rpx solid white;
	padding-bottom: 6rpx;
}
.showArea{
	width: 100%;
	height: 100%;
}
.list{
	width: 100%;
	border-bottom: 1rpx solid gainsboro;
}
.list_content{
	width: 90%;
	height: 200rpx;
	margin: 0 auto;
	display: flex;
}
.word{
	width: 70%;
	display: flex;
	flex-direction: column;
}
.word p{
	height: 55%;
	font-size: 28rpx;
	margin-top: 20rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.word span{
	font-size: 24rpx;
	color: gray;
	height: 25%;
	display: flex;
	align-items: center;
}
.word span b{
	padding-right: 40rpx;
	font-weight: 400;
}
.pic{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pic image{
	width: 80%;
	height: 80%;
}
