*{
	margin: 0;
	padding: 0;
	touch-action: pan-y;
}
body{
	background-color: #F6F6F6;
}
ul,li{
	list-style: none;
}
ul{ 
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
	vertical-align:middle;
}
em{
	font-style:normal;
}
i{
	font-style: normal;
}
.main-header-wrap{
	width: 100%;
	height: 65px;
	background: red;
	display: flex;
	justify-content: center;
	background: url(../images/index-header-bg.png) no-repeat center;
}
.xisisi{
	color: blue;
	display: flex;
	justify-content: center;
	vertical-align: middle;
}







