.body{
	width: 100%;
	height: 100%;
}
.news{
	width: 100%;
	height: 220rpx;
	border-bottom: 1px solid #F1F1F1;
}
.content{
	width: 94%;
	height: 100%;
	margin: 0 auto;
}
.head{
	width: 100%;
	height: 35%;
	display: flex;
	align-items: center;
}
.head image{
	width: 50rpx;
	height: 50rpx;
}
.head span{
	font-size: 30rpx;
	padding-left: 20rpx;
}
.text-area{
	width: 100%;
	height: 65%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.left{
	width: 75%;
	height: 100%;
}
.right{
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.right image{
	width: 80%;
	height: 80%;
}
.left p:first-child{
	width: 100%;
	height: 60%;
	font-size:30rpx;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.des{
	font-size: 26rpx;
	width: 100%;
	height: 40%;
	display: flex;
	/* justify-content: center; */
	align-items: flex-start;
}
.des span:first-child{
	width: 30%;
	color: #646464;
}
.des span:nth-child(2),.des span:nth-child(3),.des span:nth-child(4){
	width: 13%;
	color: #646464;
	text-align: center;
}
.des span:last-child{
	width: 30%;
	color: #B30000;
	text-align: center;
}