*{
	margin: 0;
	padding: 0;
	touch-action: pan-y;
}
body{
	background-color: #F6F6F6;
}
ul,li{
	list-style: none;
}
ul{ 
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
	vertical-align:middle;
}
em{
	font-style:normal;
}
i{
	font-style: normal;
}
.zdsx-title-wrap{
	width: 100%;
	height: 50px;
	line-height: 50px;
	float: left;
}
.zdsx-title-cont{
	width: 92%;
	float: left;
	margin-left: 4%;
}
.zdsx-title-left{
	width: 50%;
	float: left;
}
.zdsx-title-right{
	width: 50%;
	float: right;
}
.zdsx-title-left span, .zdsx-title-right span{
	font-size: 14px;
	float: left;
	margin-right: 10px;
	
}
.zdsx-title-left label, .zdsx-title-right label{
	font-size: 14px;
	float: left;
}
.zdsx-bz{
	width: 92%;
	float: left;
	margin-left: 4%;
	font-size: 13px;
	color: #999999;
}
.sxmt-list-wrap{
	width: 92%;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-left: 4%;
	margin-top: 18px;
}
.sxmt-list-wrap span{
	float: left;
	font-size: 14px;
	color: #181818;
	margin-right: 16px;
}
.sxmt-list-wrap input{
	border: 1px solid #8e8e8e;
	float: left;
	margin-right: 4px;
	border-radius: 4px;
	height: 24px;
	margin-top: 3px;
	font-size: 14px;
	color: #8E8E8E;
	padding-left: 4px;
}
.sxmt-list-wrap label{
	font-size: 14px;
	color: #8E8E8E;
	float: left;
}
.AOyes-btn{
	width: 60%;
	margin-left: 20%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #FFFFFF;
	background: #b22420;
	border-radius: 4px;
	float: left;
	text-align: center;
	margin-top: 100px;
}


.zdsx-two-list{
	width: 60%;
	margin-left: 26%;
	float: left;
	margin-top: 40px;
}
.zdsx-two-xl{
	width: 100%;
	float: left;
	height: 30px;
	line-height: 30px;
}
.zdsx-two-xl span{
	display: inline-block;
	width: 50%;
	float: left;
	font-size: 14px;
	color: #181818;
}
.zdsx-two-xl label{
	display: inline-block;
	width: 50%;
	float: right;
	font-size: 14px;
	color: #181818;
}
.zdsx-two-bz{
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #999999;
	float: left;
	margin-top: 20px;
	margin-bottom: 30px;
}
.zdsx-zhcz{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
}
.zdsx-zhcz span{
	font-size: 14px;
	color: #999999;
	margin-right: 10px;
}
.zdsx-zhcz label{
	font-size: 14px;
	color: #b22420;
}
.sdsx-list{
	margin-top: 80px;
	margin-bottom: 40px;
}

.tgqy-wrap{
	width: 100%;
	float: left;
	margin-top: 16px;
}
.tgqy-cont{
	width: 92%;
	float: left;
	margin-left: 4%;
}
.tgqy-cont span{
	display: inline-block;
	width: 100%;
	float: left;
	font-size: 16px;
	color: #181818;
}
.select-city{
	width: 100%;
	font-size: 14px;
	float: left;
	margin-top: 6px;
}
.Adadd-bz{
	margin-top: 14px;
	margin-bottom: 14px;
}
.AdAdd-bz2{
	margin-top: 20px;
	margin-bottom: 40px;
}
.Adadd-yesbtn{
	margin-top: 16px;
}
