.body{
	width: 100%;
	height: 100%;
	background-color: #EDEDED;
}
.head{
	width: 100%;
	height: 600rpx;
}
.bg{
	height: 65%;
}
.bg image{
	width: 100%;
	height: 100%;
}
.title{
	height: 35%;
	background-color: #FFFFFF;
}
h1{
	color:#2C2C2C;
	font-size: 38rpx;
	height: 50%;
	display: flex;
	align-items: center;
	padding-left: 20rpx;
}
.count{
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.count span{
	width: 25%;
	font-size: 28rpx;
	color: #646464;
}
.time{
	height: 25%;
	display: flex;
	align-items: center;
}
.time span{
	font-size: 28rpx;
	color: #646464;
	padding-left: 20rpx;
	padding-right: 60rpx;
}
.content{
	width: 100%;
	margin-top: 20rpx;
	background-color: #FFFFFF;
}
.text-area{
	width: 94%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 20rpx 0;
}
.text-area span{
	font-size: 32rpx;
	color: #646464;
}
.pic{
	width: 100%;
	height: 260rpx;
	padding: 20rpx 0;
}
.pic image{
	width: 100%;
	height: 100%;
}
.comment{
	width: 100%;
	margin-top: 20rpx;
	background-color: #FFFFFF;
	margin-bottom: 200rpx;
}
h3{
	padding: 20rpx 20rpx;
	font-size: 34rpx;
}
h3 span{
	font-size: 28rpx;
	color: #999999;
	font-weight: 100;
	padding-left: 20rpx;
}
.comment_area{
	width: 100%;
	height: 350rpx;
	border-bottom: 1px solid #EDEDED;
	margin-top: 20rpx;
}
.comment_list{
	width: 94%;
	height: 100%;
	margin: 0 auto;
}
.user{
	height: 15%;
	display: flex;
	align-items: center;
}
.tx{
	width: 60rpx;
	height: 60rpx;
}
.tx image{
	width: 100%;
	height: 100%;
}
.user span{
	font-size: 28rpx;
	padding-left: 20rpx;
	color: #646464;
}
.comment_text{
	height: 30%;
	display: flex;
	align-items: center;
}
.comment_text span{
	font-size: 30rpx;
	color: #2C2C2C;
}
.comment_pic{
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pic_list{
	width: 25%;
	height: 130rpx;
	padding-right: 20rpx;
}
.pic_list image{
	width: 100%;
	height: 100%;
}
.comment_count{
	height: 15%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	font-size: 26rpx;
	color: #999999;
}
.ly,.dz{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ly_time{
	width: 60%;
}
.ly view,.dz view{
	width: 30rpx;
	height: 30rpx;
	padding-right: 10rpx;
}
.ly image,.dz image{
	width: 100%;
	height: 100%;
}