.body{
	width: 100%;
	height: 100%;
	background-color: #F6F6F6;
}
.head{
	width: 100%;
	height: 360rpx;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav{
	width: 92%;
	height: 80%;
	background-color: #B22420;
	border-radius: 20rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.nav span{
	color: #FFFFFF;
}
.nav span:first-child{
	font-size: 24rpx;
}
.nav span:nth-child(2){
	font-size: 48rpx;
	font-weight: bold;
	padding-top: 20rpx;
}
.mon{
	width: 100%;
	height: 120rpx;
	display: flex;
	align-items: center;
}
.uni-list{
	width: 90%;
	height:90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.uni-input{
	font-size: 30rpx;
	font-weight: 400;
}
.riqi{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
picker image{
	width: 20rpx;
	height: 12rpx;
	padding-left: 10rpx;
}
.money{
	font-size: 26rpx;
	color: #8E8E8E;
}
.content{
	width: 100%;
	height: 100%;
	background-color: white;
}
.list{
	width: 100%;
	height: 120rpx;
	border-bottom: 1px solid #F6F6F6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.l1{
	width: 90%;
	height: 100%;
	display: flex;
	align-items: center;
}
.left_head{
	width: 15%;
	height: 100%;
	height: 74rpx;
}
.headpic{
	width: 100%;
	height: 100%;
}
.left{
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
}
.left_user{
	display: flex;
	flex-direction: column;
	padding-left: 20rpx;
}
.left_user span:first-child{
	font-size: 30rpx;
	color: #181818;
}
.left_user span:nth-child(2){
	font-size: 28rpx;
	color: #8E8E8E;
	padding-top: 10rpx;
}
.right{
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.right span{
	font-size: 36rpx;
	color: #B22420;
	text-align: right;
}