uni-page-wrapper{
	width: 100%;
	max-height: 100%;
	background-color:rgba(246,246,246,1);
}
.main{
	width: 100%;
	height: 100%;
}
.head{
	height: 180rpx;
	background-color: #FFFFFF;
}
.nav-item{
	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.current span{
	color: #B22420;
	border-bottom: 6rpx solid #B22420;
}
.count{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
}
.count span{
	color: #B22420;
	font-size: 34rpx;
}
.count span b{
	font-weight: normal;
	padding-left: 10rpx;
	padding-right: 10rpx;
}
.head_tab{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.head_tab span{
	display: inline-flex;
	width: 35%;
	height: 100%;
	font-size: 36rpx;
	justify-content: center;
	align-items: center;
}
.mon{
	width: 100%;
	height: 120rpx;
	display: flex;
	align-items: center;
}
.uni-list{
	width: 90%;
	height:90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.uni-input{
	font-size: 30rpx;
	font-weight: 400;
}
.riqi{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20rpx;
}
picker image{
	width: 20rpx;
	height: 12rpx;
	padding-left: 10rpx;
	padding-top: 10rpx;
}
.money{
	font-size: 26rpx;
	color: #ED9795;
}
.money b{
	padding-left: 10rpx;
	padding-right: 10rpx;
}
.content,.content1{
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	margin-top: 10rpx;
}
.list{
	height: 140rpx;
	border-bottom: 2rpx solid #F6F6F6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list1{
	height: 120rpx;
	border-bottom: 2rpx solid #F6F6F6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.head_pic{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.head_pic1{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.username{
	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;
}
.username1{
	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;
}
.new_add{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.new_add1{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.head_pic image{
	width: 65%;
	height: 70%;
}
.head_pic1 image{
	width: 55%;
	height: 70%;
	border-radius: 10rpx;
}
.username span{
	font-size: 32rpx;
}
.username1 span{
	font-size: 28rpx;
	color: #646464;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.new_add span{
	color: #ED9795;
	font-size: 28rpx;
}
.new_add1 span{
	color: #ED9795;
	font-size: 28rpx;
}